*, *:after, *:before {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 50px auto;
    text-align: center;
    width: 90%;
    background:  #093545;
}

.form {
    margin: auto;
    
    padding: 20px;
    border-radius: 10px;
    width: 450px;
    height: 550px;
    background: #FFFFFF;
    box-shadow: 10px 15px 8px rgba(0, 0, 0, 0.25);
}

.logo{
    border-radius: 10px;
}

.h2-iniciar{
    font-family: Mulish;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.30000001192092896px;
    text-align: center;
    padding-top: 25px;
    color:#252733;
}

div.form-element {
    margin: 20px 0px;

}

label {
    display: flex;
    flex-flow: row wrap;
    padding: 10px 10px;
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #242424;
    margin-top: 20px;
}

input {
    font-family: 'Mulish';
    font-size: 20px;
    outline: medium none;
    border: none;
    width: 90%;
    height: 10%;
    background-color: transparent;
    border-bottom: 2px solid #FFCB51;
}
input:focus{
    background-color: transparent;
}
input:hover{
    border-bottom: 3px solid #FFCB51;
}


/*---------Boton Entrar-------------------*/
button {
    margin-top: 60px;
    width: 90%;
    padding: 10px 15px;
    font-family: 'Mulish';
    font-size: 22px;
    color: rgb(0, 0, 0);
    background: rgba(255, 195, 75, 0.69);
    box-shadow: 0px 4px 12px rgba(55, 81, 255, 0.24);
    border-radius: 8px;
    border: none;
}
button:hover {
    background: rgba(255, 177, 22, 0.69);
    box-shadow: 0px 12px 15px rgba(55, 82, 255, 0.34);
}
button:active {
    opacity: 0.7;
    width: 80%;
    font-size: 20px;
}

.div-transparent{
    width: 100%;
    height: 600px;
    margin-top: -2rem;
    padding-top: 1.5%;
    box-sizing: border-box;
    background: rgba(235, 230, 230, 0.21);
    border-width: 2px 0px 0px 2px;
    border-style: solid;
    border-color: rgba(119, 118, 118, 0.8);
    border-radius: 20px;
}

.img-mujer{
    width: 250px;
    height: 400px;
    position: absolute;
    background-color: transparent;
    margin-top: 13%;
    margin-left: 8%;
    background-image: url(../img/mujer-sin-fondo.png);
    background-repeat: no-repeat;
    background-size: 90% 95%;
    z-index: -1;
}

.img-hombre{
    width: 250px;
    height: 400px;
    position: absolute;
    background-color: transparent;
    margin-top: -28%;
    margin-left: 65%;
    background-image: url(../img/hombre-sin-fondo.png);
    background-repeat: no-repeat;
    background-size: 90% 95%;
    z-index: -1;
}
@media all and (min-width:1601px) and  (max-width:2000px) {
    .img-mujer{
        margin-top: 10%;
    }
    .img-hombre{
        margin-top: -22%;
    }

}
@media all and (min-width:1401px) and  (max-width:1600px) {
    .img-mujer{
        margin-top: 10%;
    }
    .img-hombre{
        margin-top: -25%;
    }

}
@media all and (min-width:1211px) and  (max-width:1400px) {
    .img-mujer{
        margin-top: 10%;
    }
    .img-hombre{
        margin-top: -30%;
    }

}

@media all and (max-width:1210px) {
    
    .img-mujer,.img-hombre{
       width: 200px;
       height: 300px;
    }
    .img-mujer{
        margin-top: 20%;
    }
    .img-hombre{
        margin-top: -25%;
    }
 
}
@media all and (max-width:1180px) {
    
    .img-mujer,.img-hombre{
      width: 150px;
      height: 220px;
 
    }
    .img-mujer{
        margin-top: 25%;
    }
    .img-hombre{
        margin-top: -22%;
        margin-left: 70%;
    }
 
}
@media all and (max-width:1120px) {
    

    .img-mujer{
        margin-top: 27%;
    }
 
}
@media all and (max-width:950px) {
    
    .img-mujer,.img-hombre{
        visibility: hidden;
    }
 
}
@media all and (max-width:1080px) {
    
    .img-mujer{
        margin-top: 30%;
    }
}
@media all and (max-width:1030px) {
    
    .img-mujer{
        margin-top: 33%;
        margin-left: 6%;
    }
    .img-hombre{
        margin-left: 71%;
    }

}
@media all and (max-width:550px) {
    
    form{
     width: 98%;
    }
    .img-mujer,.img-hombre{
        visibility: hidden;
    }
 
}

