*, *:after, *:before {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    --color-pricpal:#FFCB51;
}

.div_content_text{
    margin-top: 30px;
    border-bottom: 1px solid #818181;
}

.text_cont{
    font-family: 'Abhaya Libre SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 38px;
    color: #000000;
}

.form-ajustes{
    width: 60%;
    margin: auto;
    margin-top: 30px;
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-ajustes{
    width: 96%;
    height: 50px;
    border: 2px solid #C0C0C0;
    border-radius: 8px;
    padding-left: 20px;
    background-color: transparent;

    /*estlos del texto (placeholder)*/
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #807D7D;
    outline: medium none;
    filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.25));
}

.input-ajustes:focus{
    border: 1px solid #05460B;
    border-bottom: 2px solid #05460B;
    font-size: 16px;
    filter: none;
}

.btn-ajustes{
    box-sizing: border-box;
    width: 120px;
    height: 40x;
    background: #48ee45;
    border: 1px solid #05460B;
    border-radius: 5px;
    padding: 8px 15px;
   
    /*estilos texto*/
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
}

.btn-ajustes:hover{
    background: #14DB10;
}

.btn-ajustes:active{
    padding: 6px 12px;
}

.img1-ajustes{
    width: 20%;
    height: 10%; 
}
.img2-ajustes{
    width: 20%;
    height: 15%; 
}

.div-img-ajustes{
   margin:auto;
   margin-top: 6%;
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: flex-end;

}

.modal_contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.text_cambiar{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size:   24px;
    line-height: 19px;
}

.btn-cambiar, .btn-cancelar{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 12px 10px;
    background: #A3FF83;
    border: 1px solid #27B404;
    border-radius: 8px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 19px;
    color: #034509;
}

.btn-cambiar:hover{
    background: #86f462;
    border: 1px solid #166f00;
}
.btn-cambiar:active, .btn-cancelar:active{
    font-size: 16px;
    padding: 10px 8px;
}

.btn-cancelar{
    background: #FDFED7;
    border: 1px solid #D7D033;
    color: #7F8201;
}
.btn-cancelar:hover{
    background: #ffffff00;
    border: 1px solid #d7cf33c4;
}

.toast-top-center {
  margin-top: 8%;
}

  
