body{
    background-color: rgb(150, 255, 146);
}
.bodyA{
    background-color: rgb(146, 175, 255);
}
.bodyE{
    background-color: rgb(255, 197, 146);
}
h1{
    font-size: 4rem;
    margin-left: 20%;
    margin-top: 15%;
}

button{
    padding: 10px 20px 10px 20px;
    margin-left: 50%;
    font-size: 24px;
    color: #ffffff;
    background-color: rgb(164, 0, 182);
    border: solid 2px #640162 ;
    border-radius: 7px;
}
button:hover{
    background-color: rgb(208, 58, 225);
    border: solid 2px #8e188c ;
}
button:active{
    padding: 8px 15px 8px 15px;
}

.btnE{
    background-color: rgb(248, 145, 76);
    border: solid 2px #eb5e2b ;
}
.btnE:hover{
    background-color: rgb(233, 156, 105);
    border: solid 2px #c6603b ;
}

.btnC{
    background-color: rgb(88, 202, 0);
    border: solid 2px #00930d ;
}
.btnC:hover{
    background-color: rgb(152, 237, 87);
    border: solid 2px #27c234 ;
}