.misionVision{
    color: rgb(17, 44, 197);
    }



h3{
    margin-top: 15px;
    
    
}
.vis{

    margin-bottom: 10px;
}

.divm{
    padding: auto;
    margin-bottom: 20rem;
    border-top :outset 5px rgb(5, 129, 47);
    border-bottom :outset 5px rgb(5, 129, 47);
}

.amarillo{
    width: 100px;
}

.cable{
    width: 140px;
    height: 200px;
}

.direc2{
    width: 160px;
    padding-top: 2.4rem;
}
.direc{
    width: 108px;
    padding-top: 2.4rem;
}


.banda{
    width: 120px;
    padding-top: 2.3rem;
}

.P2{
    width: 110px;
    padding-top: 1.8rem;
}
.P3{
    width: 160px;
    padding-top: 2.5rem;
  
}
.bj{
    width: 124px;
    padding-top: 2rem;
  
}
.res{
    width: 180px;
    padding-top: 6rem;
  
}
.bj2{
    width: 140px;
    padding-top: 1.3rem;
}
.g{
    width: 150px;
}
.lf{
 
    margin-left: 8rem;
    width: 130px;
    border-radius: 15px;
}

.headerwave{
    height: 300px;
    background-image: url("../imgProductos/ola2.svg");
    background-size: cover;
}
.nav{
    position: relative;
    margin-top: -6rem;
}
.h1{
    color: #ffffff;
}
.ini{
    font-size: 34px;
    display: block;
    padding: .5rem 1rem;
    color: #0a5ad3;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out
}


.producto1{

    text-align: center;
}

.p1{

    font-size: 20px;
    color: #0a5ad3;
    font-weight: bold;
}
.tex1{
    padding-top: 20px;
    text-align: justify;
    font-size: 18px;
    color: #052c66;


}

.precio1{
padding-top: 20px;
    color: #ff8901;
    font-weight: bold;
}



.btn-wsp{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 63px;
    bottom:25px;
    right: 10px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;

    margin-bottom: 5rem;
}
.btn-wsp:hover{
    background: #20ba5a;
}
@media only screen and (min-width:320px) and (max-width:768px){
    .btn-wsp{
        width:63px;
        height:63px;
        line-height: 66px;
	}
}


.ser{

    height: 22rem;
}
.ser2{

    margin-top: -2rem;
}
.redes{

  width: 60px; 
  
 margin-top:15px;
 margin-left: 50px;
  border-radius: 50%;
 
}

.redes:hover{

    width: 70px;

}

.redes:active {

    width: 50px;

}

.redes2{
    display: flex;
    border: outset 6px rgb(114, 113, 110);
    margin-left: 5rem;
    height: 6.5rem;
    width: 20rem;
    
}
.redes2:hover{

    background-color: #7e7777;
}

